<!DOCTYPE html>
<html>
  <head>
    <title>RobinStax</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <script id="test" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.iexkkaccess = "<%= Rails.application.credentials.iex[:api_key] %>"
      window.newskkaccess = "8301919d1f424b84ae99257ab31a6067"
    </script>
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
